/* https://colorhunt.co/palette/35394126282b5f85db90b8f8 */

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #222831, #2d4059);
  background-size: cover;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vh;
  background-color: white;
  color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  z-index: 9999;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay-content h1 {
  margin-top: 30vh;
  font-size: 6vw;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  width: 90vw;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: 5vw;
  z-index: 1;
}

.grid-full-row {
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
  align-self: start;
  margin-top: 10vh;
}

/* .grid-item {
  background-color: #eee;
  padding: 10px;
}
*/
.grid-item:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

/* set the profile picture height to 30% ov the viewheight */
.profile-picture {
  height: 15vw;
  border-radius: 50%;
  border: 2px solid #eeeeee;
  box-shadow: 0 0 5px 10px #222831;
}

h1 {
  font-size: 6vw;
  font-weight: 200;
}

p {
  font-size: 1.5vw;
  font-weight: 100;
  text-align: justify;
  text-justify: inter-word;
}
